.header {
  padding-top: 21px;
  padding-bottom: 21px;
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  border: 1px solid var(--header-border-color);
}

.container--header {
  display: flex;
  align-items: center;
}

.header-navigation__logo {
  margin-right: 88px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.header-navigation .header-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.container--header > .header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu-button {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-nav {
  color: var(--main-title-color);
  display: flex;
  &.is-open {
    display: flex;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function);
  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
  }
  @media screen and (max-width: 1199px) {
    .header-contacts & {
      font-size: 12px;
      line-height: (14 / 12);
    }
  }
}

.header-nav__link.current:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -35.5px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  @media screen and (min-width: 1200px) {
    bottom: -33.5px;
  }
}

.header-contacts {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
  margin-left: auto;
}

.header-contacts__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
  & .header-nav-link {
    display: flex;
    align-items: center;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: color 250ms var(--time-function);
  .header-nav-link:hover & {
    color: var(--accent-color);
  }
  &--mail {
    @media screen and (min-width: 1200px) {
      transform: scale(1.14, 1.2);
    }
  }
  &--phone {
    @media screen and (min-width: 1200px) {
      transform: scale(1, 1.14);
    }
  }
}
