.hero {
  background-color: var(--hero-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, var(--hero-gradient-color)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero__btn {
  display: inline-block;  
}
