.portfolio__filters-list {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: -15px;
    margin-left: -8px;
  }
}

.filters-list__item {
  @media screen and (max-width: 768px) {
    margin-top: 15px;
    margin-left: 8px;
  }
}

.filters-list__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.filters-list__btn {
  display: inline-block;
  padding: 6px 22px;
  background: var(--light-bg-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);

  transition: background-color 250ms var(--time-function), color 250ms var(--time-function),
    box-shadow 250ms var(--time-function);
}

.filters-list__btn {
  &:hover,
  &:focus,
  &.current {
    background-color: var(--accent-color);
    color: var(--light-color);
    box-shadow: var(--filters-shadow);
  }
}

.cards-list {
  --card-items: 0;
  --card-set-gap: 0;
  @media screen and (min-width: 768px) {
    --card-items: 2;
    --card-set-gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    --card-items: 3;
  }
}
.cards-list__item:not(:last-child) {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}

.cards-list__link {
  display: flex;
  flex-direction: column;

  transition: box-shadow 250ms var(--time-function);
  &:hover,
  &:focus {
    box-shadow: var(--portfolio-card-shadow-color);
  }
}

.cards-list__content {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    min-height: 141px;
  }
}

.cards-list__img-wrap {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.cards-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 63px 24px;

  transform: translateY(100%);

  font-size: 18px;
  line-height: 1.55;

  color: var(--light-color);

  background: var(--portfolio-overlay-bg);

  transition: transform 250ms var(--time-function);
  .cards-list__link:hover &,
  .cards-list__link:focus & {
    transform: translateY(0);
  }
}

.cards-list__content {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-card-border);
  border-top: none;
}

.cards-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.cards-list__text {
  font-size: 16px;
  line-height: 1.87;
}
