.team {
  background-color: var(--light-bg-color);
}

.team-list {
  --card-items: 1;
  @media screen and (min-width: 768px) {
    --card-items: 2;
  }
  @media screen and (min-width: 1200px) {
    --card-items: 4;
  }
}

.team-list__item {
  background-color: var(--light-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--team-card-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list__thumb {
  width: 100%;
}

.team-list__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team-list__text {
  margin-bottom: 16px;
}

.team-list__text,
.team-list__persone-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__persone-title {
  font-weight: 500;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
